<!-- Header -->
<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
	<!-- Navigation Bar -->
	<nav class="navigation-bar" data-become-sticky="600" data-no-placeholder>
		<div class="container">
			<div class="hamburger"><a href="#"></a></div>

			<div class="navigation-bar-flex">
				<!-- Logo TODO: Use 2 images for normal and sticky navigation, or just text -->
				<div class="logo">
					<a href="/">
						<!--<img class="logo-normal" src="images/logo-x2.png" alt=""/>
						<img class="logo-sticky" src="images/logo-sticky-x2.png" alt=""/>-->
						Crowd<span>Funding</span>
					</a>
				</div>
				<!--/ Logo -->

				<!-- Dropdown Menu -->
				<ul class="nav-menu clearfix" itemscope itemtype="http://schema.org/SiteNavigationElement">
					<li class="{{index}}">
						<a href="/">Home</a>
						<ul class="hidden">
							<li><a href="index.html">Home Fly Slider</a></li>
							<li><a href="index-slider2.html">Home Classic Slider</a></li>
							<li><a href="index-image.html">Home Single Image</a></li>
							<li><a href="video-slider.html">Home Video Slider</a></li>
							<li><a href="video-local.html">Home Self Hosted Video</a></li>
							<li><a href="video-youtube.html">Home Youtube Video</a></li>
							<li><a href="video-vimeo.html">Home Vimeo Video</a></li>
							<li><a href="404.html">404 Page</a></li>
						</ul>
					</li>
					<li class="{{project}}">
						<a href="/projects">Projects</a>
						<ul class="hidden">
							<li><a href="projects.html">Projects Listed Style</a></li>
							<li><a href="projects-2cols.html">Projects 2 Columns</a></li>
							<li><a href="projects-3cols.html">Projects 3 Columns</a></li>
							<li><a href="projects-4cols.html">Projects 4 Columns</a></li>
							<li><a href="project-details.html">Project Details</a></li>
						</ul>
					</li>
<!--					<li class="{{events}}">-->
<!--						<a href="#">Events</a>-->
<!--						<ul class="hidden">-->
<!--							<li><a href="events-2cols.html">Events 2 Columns</a></li>-->
<!--							<li><a href="events-3cols.html">Events 3 Columns</a></li>-->
<!--							<li><a href="events-4cols.html">Events 4 Columns</a></li>-->
<!--							<li><a href="event-details.html">Event Details</a></li>-->
<!--						</ul>-->
<!--					</li>-->
<!--					<li class="{{blog}}">-->
<!--						<a href="#">Blog</a>-->
<!--						<ul class="">-->
<!--							<li><a href="blog.html">Without Sidebar</a></li>-->
<!--							<li><a href="blog-wide.html">Wide Version</a></li>-->
<!--							<li><a href="blog-sidebar.html">Right Sidebar</a></li>-->
<!--							<li><a href="blog-sidebar-left.html">Left Sidebar</a></li>-->
<!--							<li><a href="blog-2cols.html">2 Columns</a></li>-->
<!--							<li><a href="blog-3cols.html">3 Columns</a></li>-->
<!--							<li><a href="blog-4cols.html">4 Columns</a></li>-->
<!--							<li><a href="blog-details.html">Blog Details</a></li>-->
<!--						</ul>-->
<!--					</li>-->

					<li><a href="/about.html">About</a></li>
					<li><a href="/contact.html">Contact</a></li>
					<li><a href="/login.html">Login</a></li>
					<li><a href="/register.html">Register</a></li>
					<li><a href="/profile/1">Profile</a></li>

				</ul>
				<!--/ Dropdown Menu -->          

				<!-- Search Form -->
				<form action="/projects_search/" class="form-search-header" method="get">
					<input type="search" name="project_title" class="form-control" placeholder="search for something" required />
					<button type="submit" class="form-submit material-icons">search</button>
				</form>
				<!--/ Search Form -->
			</div>
		</div>
	</nav>
	<!--/ Navigation Bar -->
</header>
<!--/ Header -->